---
layout: container
---
<section aria-label="Introduction">
	<h1 class="intro-header">Howdy, I'm Wes.</h1>
	<p>I'm a geek that likes making things with computers.  Passionate about the web, I've been programming online and off for the last twenty years.</p>
	<p>Here's some stuff I've recently written:</p>
</section>

<section aria-label="Recent Writings">
	<ul class="post-list">
		{% assign posts = site.categories.blog | concat: site.categories.projects | sort: "date" | reverse %}
		{% for post in posts limit:6 %}

			{% if post.url contains '/blog/' %}
				{% assign post_type_label = "Blog" %}
				{% assign post_type_url = "/blog/" %}
			{% else %}
				{% assign post_type_label = "Project" %}
				{% assign post_type_url = "/projects/" %}
			{% endif %}

			<li>
				<article>
					<h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<p>{{ post.excerpt | strip_html }}</p>
					<time class="post-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d, %Y' }}</time>
					<a class="post-type" data-post-type="{{ post_type_label }}" href="{{ post_type_url }}">{{ post_type_label }}</a>
				</article>
			</li>
		{% endfor %}
	</ul>
</section>
