---
layout: container
---
<section aria-label="Introduction">
	<h1>Howdy, I'm Wes.</h1>
	<p>I'm a geek that likes making things with computers.  Passionate about the web, I've been programming online and off for the last fifteen years.</p>
	<p>Here's some stuff I've recently written:</p>
</section>

<h2 class="category-header" aria-label="Blog Index">Blog</h2>

<ul>
	{% for post in site.categories.blog limit:3 %}
		<li class="post-list">
			<h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.excerpt | strip_html }}</p>
			<span class="post-date">{{ post.date | date: '%b %d, %Y' }}</span>
		</li>
	{% endfor %}
</ul>

<h2 class="category-header" aria-label="Project Index">Projects</h2>

<ul>
	{% for post in site.categories.projects limit:3 %}
		<li class="post-list">
			<h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>{{ post.excerpt | strip_html }}</p>
			<span class="post-date">{{ post.date | date: '%b %d, %Y' }}</span>
		</li>
	{% endfor %}
</ul>