---
layout: container
---
<h1>Howdy, I'm Wes.</h1>

<p>I'm a geek that likes making things with computers.  I've worked at all levels in the stack, from building content management systems, designing frontend products, and working with clients on online marketing.</p>
<p>Here's some stuff I've recently written:</p>

<h3>Blog</h3>

{% for post in site.categories.blog %}
	<a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}

<h3>Projects</h3>

{% for post in site.categories.projects %}
	<a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}
