<aside class="sidebar">
	<div class="bio">
		<a href="/" tabindex="-1" aria-hidden="true">
			<img src="/img/logo.png" width="152" height="152" class="logo" alt="Logo">
		</a>
		<div class="my-name" role="banner"><a href="/">Wes Cook</a></div>
		<p class="my-title">Developer of all things</p>
	</div>
	<nav class="nav" aria-label="Navigation">
		<ul>
			<li class="hide-sighted"><a href="/" tabindex="-1">Home</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</nav>
</aside>
