/* Body fills whole window, flexes children */
body {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Content fills as much space as possible */
main {
	flex: 1;
}

/* Sidebar mode */
@media screen and (min-width: 760px) {
	/* Limit sidebar width */
	aside {
		width: 300px;
	}
}

/* Top Menu mode */
@media screen and (max-width: 760px) {
	/* Vertical layout */
	body {
		flex-direction: column;
	}
	/* Horizontal text */
	.nav li {
		display: inline;
	}
}

/* Sidebar styling */
aside {
	text-align: center;
	background-color: #2196F3;
	color: #fff;
}
