// Light Mode
:root {
	--foreground-color: black;
	--background-color: white;
	--sidebar-color: #2196F3;
	--link-color: #2196F3;
	--post-date-color: #666;
	--code-block-color: #EAEAEA;
	--code-block-border-color: #D6D6D6;
}

// Dark Mode
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-color: white;
		--background-color: #292727;
		--sidebar-color: #15619c;
		--link-color: #2196F3;
		--post-date-color: #adadad;
		--code-block-color: black;
		--code-block-border-color: #737373;
	}
}
