@media print {
	// Hide sidebar
	.sidebar {
		display: none;
	}

	// Page margins
	@page {
		margin: 0.5cm;
	}

	// Make all text black for easy printing
	* {
		color: black;
	}

	// Standardize font sizing
	h1 {
		font-size: 17pt;
	}
	body {
		font-size: 12pt;
	}

	// Add author
	h1::after {
		content: "by Wes Cook";
		display: block;
		font-size: 12pt;
		margin: -5px 0 2px 0;
	}
}
