// Browser UI elements support color schemes (inputs, scrollbars)
:root {
	color-scheme: light dark;
}

// Background and foreground colors support color schemes
body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
