// Lists
.post ol, .post ul {
	margin: 0px 0px 10px 20px;
}

// Code tags
code {
	background-color: var(--code-block-color);
	border: 1px solid var(--code-block-border-color);
	padding: 2px;
}

// Horizontal Rule
hr {
	margin: 20px 0 15px 0;
}
