// Lists
.post ol, .post ul {
	margin: 0px 0px 10px 20px;
}

// Blockquotes
blockquote {
	margin-left: 15px;
	padding-left: 13px;
	border-left: 5px solid #888;
}

// Code tags
code {
	background-color: var(--foreground-color);
	border: 1px solid var(--border-color);
	padding: 2px;
}

// Horizontal Rule
hr {
	margin: 20px 0 15px 0;
}
