/* Body fills whole window, flexes children */
html {
	height: 100%;
}
body {
	display: flex;
	min-height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	line-height: 1.4;
}
/* IE fix for sidebar scaling */
body::after{
	content: '';
	height: 100vh;
	visibility: hidden;
}

/* Paragraph and header spacing */
p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
}

/* Remove underline from links globally */
a {
	text-decoration: none;
	color: $primary-color;
}
a:hover {
	border-bottom: 2px solid $primary-color;
}

/* Code tags */
code {
	background-color: #EAEAEA;
	border: 1px solid #D6D6D6;
	padding: 2px;
}
