// Google Fonts
@font-face {
	font-family: 'Source Sans Pro';
	font-display: auto;
	src:
		local('Source Sans Pro'),
		local('SourceSansPro-Regular'),
		url(/css/fonts/SourceSansPro.woff2) format('woff2'),
		url(/css/fonts/SourceSansPro.woff) format('woff');
}

// Main font styling
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	line-height: 1.4;
}

// Fluid text scaling
@media screen and (max-width: 800px) {
	body {
		font-size: calc(0.8em + 0.8vw);
	}
}

// Paragraph and header spacing
p, h1, h2, h3, h4, h5, h6, blockquote {
	margin-bottom: 15px;
}

// Remove underline from links globally
a {
	text-decoration: none;
	color: var(--link-color);
}
a:hover, a:focus {
	text-decoration-line: underline;
	text-decoration-color: var(--link-color);
}
