// Lists
.post ol,
.post ul {
	margin: 0px 0px 10px 20px;
}

// Blockquotes
blockquote {
	margin-left: 15px;
	padding-left: 13px;
	border-left: 5px solid #888;
}

// Code tags
code {
	white-space: pre;
	background-color: var(--foreground-color);
	border: 1px solid var(--border-color);
	padding: 2px;
}

// Horizontal Rule
hr {
	margin: 40px 0 35px 0;
}

// Permalinks
.perma {
	margin-left: 0.1em;
	vertical-align: middle;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}
:is(h2, h3, h4, h5, h6):hover .perma,
.perma:focus {
	opacity: 1;
}
