// Responsive sidebar and container
.container {
	display: flex;
}

// Sidebar mode
@media screen and (min-width: 760px) {
	.sidebar {
		width: 322px; // Fallback
		width: calc(10% + 150px);
		padding: 50px 0;
	}
	.sidebar a {
		padding-bottom: 6px;
	}
	.nav li {
		margin-top: 12px;
	}
	.bio {
		margin-bottom: 50px;
	}

	// IE fix for sidebar scaling
	.container::after {
		content: '';
		height: 100vh;
		visibility: hidden;
	}
}

// Top Menu mode
@media screen and (max-width: 759px) {
	.container {
		flex-direction: column;
	}
	.sidebar {
		padding: 20px;
		box-sizing: content-box;
	}
	.nav li {
		display: inline;
		margin: 0 2%;
	}
}

// Content fills as much space as possible
.content {
	flex: 1 0 0;
	max-width: 900px;
	padding: 50px 4%;
	margin: 0 auto;
}

// Floating images
.float-left {
	float: left;
	margin: 10px;
}
.float-right {
	float: right;
	margin: 10px;
}
.clear {
	clear: both;
}

// Main body of post
.post {
	margin-top: 10px;
}
