// Sidebar styling
.sidebar {
	text-align: center;
	background-color: var(--sidebar-color);
	color: white;
}

.sidebar a {
	color: white;
	text-decoration: none;
}

// Name
.my-name {
	margin: 8px;
	font-weight: normal;
	font-size: 2em;
}

// Navigation
.nav ul {
	list-style-type: none;
}

.nav a {
	font-size: 1.4em;
	transition: border-bottom 0.5s ease;
	border-bottom: 2px solid var(--sidebar-color);
}
.nav a:hover {
	border-bottom: 2px solid #CFD8DC;
}
