/* Navigation */
.nav ul {
	list-style-type: none;
}
.nav a {
	color: white;
	font-size: 1.4em;
}

.my-name {
	margin: 8px;
	font-weight: normal;
	font-size: 2em;
}

/* Sidebar styling */
.sidebar {
	text-align: center;
	background-color: $primary-color;
	color: #fff;
}

.sidebar a {
	color: white;
	border-bottom: 2px solid $primary-color;
	transition: border-bottom 0.5s ease;
}

.nav a:hover {
	border-bottom: 2px solid $accent-color;
}
