/* Navigation */

.nav a {
	color: white;
	font-size: 1.6em;
}

.my-name {
	font-weight: normal;
	font-size: 1.9em;
}

.my-title {
	font-size: 1.1em;
}

.about {
	margin: 50px 0;
}

/* Sidebar styling */
.sidebar {
	text-align: center;
	background-color: #2196F3;
	color: #fff;
}

a {
	text-decoration: none;
}

.sidebar a {
	color: white;
}
