// Post list container
.post-list {
	padding: 0;

	li {
		margin-bottom: 1.2em;
		list-style: none;
	}

	h3,
	p {
		margin-bottom: 0;
	}
}


// Header text on index page
.intro-header {
	font-size: 3em;
}

// Post title, listing and post pages
.post-title {
	margin-bottom: -5px;
}

// Post date, listing and post pages
.post-date {
	font-size: 0.8em;
	color: var(--post-date-color);
}

// Post type tag
.post-type {
	font-size: 0.7em;
	border-radius: 15px;
	padding: 0.2rem 0.45rem;
	margin-left: 0.4rem;
	text-decoration: none;
	color: var(--foreground-color);
}
.post-type:hover {
	color: color-mix(in srgb, var(--foreground-color), grey 30%);
}
.post-type[data-post-type="Blog"] {
	background-color: var(--tone-blog);
}
.post-type[data-post-type="Projects"] {
	background-color: var(--tone-projects);
}

// Main category headers
.category-header {
	margin-top: min(calc(1.8vw + 20px), 45px);
}
