// Subtle effect for hover text
.note {
	border-bottom: 1px dotted #ADADAD;
}

// Images
.post img {
	margin: 10px;
	border: none;
}

// Remove image border
img.no-border {
	margin: 0;
}

// Lists
.post ul {
	margin: 0 0 10px 30px;
}
