// Formatting of blog and project listings

.post-list {
	margin-bottom: 1.2em;
}
.post-list h3 {
	margin-bottom: 0;
}
.post-list p {
	margin-bottom: 0;
}

.category-header {
	margin-top: 1em;
}

.post-date {
	font-size: 0.8em;
	color: #666;
}
