<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }} | Wes Cook{% else %}Wes Cook, Developer{% endif %}</title>
	<link rel="preload" href="/css/fonts/source-sans-pro.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', ''}}">
	<link rel="alternate" type="application/rss+xml" title="Wes Cook" href="/feed.xml" />
	{% if page.layout == "gallery" %}
		<link rel="stylesheet" href="/js/lightgallery.js-1.4.0/css/lightgallery.min.css">
		<script src="/js/lightgallery.js-1.4.0/js/lightgallery.min.js"></script>
	{% endif %}
</head>
<body>

<div class="container">
	{% include nav.html %}

	<main class="content">
		{{ content }}
	</main>
</div>

</body>
</html>
