// Background and foreground colors (light/dark mode)
body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

// Responsive layout
.container {
	display: flex;
}
.sidebar {
	padding: 3rem 1rem;
}
.content {
	flex: 1;
	padding: clamp(1rem, 3.5vw, 3.5rem);
	max-width: 900px;
	margin: 0 auto;
}

// Responsive nav
.nav ul {
	display: inline-flex;
	gap: 0.5rem;
	flex-direction: column;
	flex-wrap: wrap;
}

// Sidebar nav mode (desktop)
@media (width >= 760px) {
	.sidebar {
		flex-basis: clamp(14rem, 20vw, 20rem);
		min-height: 100vh;
	}
	.nav {
		margin-top: 2.4rem;
	}
}

// Top nav mode (mobile)
@media (width < 760px) {
	.container {
		flex-direction: column;
		padding-top: 0;
	}
	.nav ul {
		flex-direction: row;
		gap: 1rem;
	}
}

// Home article list separation
.content section + section {
	margin-top: 1.8rem;
}

// Main body of post
.post {
	margin-top: 0.7rem;
}

// Center images in posts
.post img {
	display: flex;
	margin: 0 auto;
}
