// Sidebar base
.sidebar {
	text-align: center;
	background-color: var(--sidebar-color);
	color: white;
}

// Name
.my-name {
	margin-bottom: 0.5rem;
	font-size: 2em;
}

// Navigation
.nav ul {
	justify-content: center;
	list-style-type: none;
	padding: 0;
	font-size: 1.4em;
}

// Nav styling and underline
.sidebar a {
	color: white;
	text-decoration: none;
	outline: none;
	transition: border-bottom 0.3s ease;
	border-bottom: 2px solid var(--sidebar-color);
}
.sidebar a:is(:hover, :focus):not(.logo) {
	border-bottom: 2px solid #CFD8DC;
}
