// Sidebar base
.sidebar {
	text-align: center;
	background-color: var(--sidebar-color);
	color: white;
}

// Name
.my-name {
	margin: 0.3rem 0;
	font-size: 2em;
}

// Nav styling and underline
.sidebar a {
	color: white;
	transition: text-decoration-color 250ms, text-underline-offset 250ms;
	text-decoration: underline 1.6px transparent;
	text-underline-offset: 8px;
	outline: none;
}
.sidebar a:is(:hover, :focus) {
	text-decoration-color: #CFD8DC;
	text-underline-offset: 12px;
}
