:root {
	color-scheme: light dark;

	--foreground-color: light-dark(#333, #eee);
	--background-color: light-dark(white, #1e1e1e);
	--sidebar-bg-color: light-dark(#2196f3, #15619c);
	--sidebar-fg-color: white;
	--link-color: light-dark(#2196f3, #47bcff);
	--post-date-color: light-dark(#666, #adadad);
	--border-color: light-dark(#d6d6d6, #adadad);
	--tone-blog: light-dark(#bafbe7, #077051);
	--tone-projects: light-dark(#b9e3fb, #074970);
}

code {
	--foreground-color: light-dark(#eaeaea, black);
}
