:root {
	color-scheme: light dark;

	--foreground-color: light-dark(#333, #eee);
	--background-color: light-dark(white, #1e1e1e);
	--sidebar-color: light-dark(#2196F3, #15619c);
	--link-color: light-dark(#2196F3, #47BCFF);
	--post-date-color: light-dark(#666, #adadad);
	--border-color: light-dark(#D6D6D6, #737373);
	--tone-blog: light-dark(#bafbe7, #077051);
	--tone-projects: light-dark(#b9e3fb, #074970);
}

code {
	--foreground-color: light-dark(#EAEAEA, black);
}
