// Box-sizing - Don't include margin/padding/border in size calculations
*, *::before, *::after {
	box-sizing: border-box;
}

// Globally remove margins
* {
	margin: 0;
}

// Media - Block-level, maintain ratio, and don't overflow container
img, picture, video, svg {
	display: block;
	max-width: 100%;
	height: auto;
}
